# Ignore node_modules (dependencies)
/node_modules/

# Ignore .env file (environment variables)
.env

# Ignore log files
*.log

# Ignore operating system files
.DS_Store

# Ignore build or distribution directories
/dist/
/build/
